<p id="notice"><%= notice %></p>

<p>
  <strong>A1x:</strong>
  <%= @robot.a1x %>
</p>

<p>
  <strong>A1y:</strong>
  <%= @robot.a1y %>
</p>

<p>
  <strong>A2x:</strong>
  <%= @robot.a2x %>
</p>

<p>
  <strong>A2y:</strong>
  <%= @robot.a2y %>
</p>

<p>
  <strong>A3x:</strong>
  <%= @robot.a3x %>
</p>

<p>
  <strong>A3y:</strong>
  <%= @robot.a3y %>
</p>

<p>
  <strong>A4x:</strong>
  <%= @robot.a4x %>
</p>

<p>
  <strong>A4y:</strong>
  <%= @robot.a4y %>
</p>

<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
